<div id="wrapper">
  <app-sidebar class="bg-gradient-primary"></app-sidebar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Loader -->
    <div *ngIf="isLoadingApplication$ | async" class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
          <div class="row justify-content-center">
            <div
              class="spinner-grow text-primary"
              style="width: 6rem; height: 6rem;"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div *ngIf="!(isLoadingApplication$ | async)" id="content">
      <app-topbar></app-topbar>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Copyright applications</h1>

        <div class="card shadow mb-4">
          <div *ngIf="(user$ | async).is_customer" class="card-header py-3">
            <div class="text-left">
              <button
                type="button"
                pButton
                icon="fa fa-plus"
                (click)="showDialog('add')"
                label="Add"
              ></button>
            </div>
          </div>

          <div class="card-body">
            <p-table
              #dt
              [columns]="columns"
              [value]="applications$ | async"
              [paginator]="true"
              [rows]="10"
              [responsive]="true"
            >
              <ng-template pTemplate="caption">
                <div class="text-right">
                  <i class="fa fa-search ml-2 mr-2"></i>
                  <input
                    type="text"
                    pInputText
                    placeholder="Global Filter"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                  />
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                    <span class="ui-column-title">{{ col.header }}</span>
                    <span *ngIf="!col.render">{{ rowData[col.field] }}</span>
                    <span *ngIf="col.render">{{
                      col.render(rowData) | async
                    }}</span>
                  </td>
                  <td *ngIf="(user$ | async).is_customer" class="text-center">
                    <span *ngIf="rowData.status === 0">
                      <button
                        pButton
                        type="button"
                        label="Submit"
                        class="ui-button-success mr-2"
                        (click)="submit(rowData.id)"
                      ></button>
                      <button
                        pButton
                        type="button"
                        icon="pi pi-pencil"
                        class="ui-button-warning mr-2"
                        (click)="showDialog('edit', rowData)"
                      ></button>
                      <button
                        type="button"
                        pButton
                        icon="fa fa-times"
                        class="ui-button-danger mr-2"
                        (click)="delete(rowData.id)"
                        class="ui-button-danger"
                      ></button>
                    </span>
                    <button
                      pButton
                      *ngIf="rowData.status === 10"
                      type="button"
                      label="Cancel Submit"
                      class="ui-button-danger mr-2"
                      (click)="unSubmit(rowData.id)"
                    ></button>
                  </td>
                  <td
                    *ngIf="
                      (user$ | async).is_admin || (user$ | async).is_secretary
                    "
                    class="text-center"
                  >
                    <button
                      pButton
                      type="button"
                      *ngIf="rowData.status === 10"
                      label="Accept"
                      class="ui-button-success mr-2"
                      (click)="accept(rowData.id)"
                    ></button>
                    <button
                      pButton
                      type="button"
                      *ngIf="rowData.status >= 20"
                      [label]="rowData.status === 20 ? 'Share' : 'ReShare'"
                      class="ui-button-info mr-2"
                      (click)="openShareDialog(rowData.id)"
                    ></button>
                    <button
                      pButton
                      type="button"
                      *ngIf="rowData.status >= 20"
                      label="Decline"
                      class="ui-button-danger mr-2"
                      (click)="decline(rowData.id)"
                    ></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>

            <!-- * dialogs -->
            <p-confirmDialog #cd>
              <p-footer>
                <button
                  type="button"
                  pButton
                  icon="pi pi-times"
                  label="No"
                  class="ui-button-secondary"
                  (click)="cd.reject()"
                ></button>
                <button
                  type="button"
                  pButton
                  icon="pi pi-check"
                  label="Yes"
                  class="ui-button-danger"
                  (click)="cd.accept()"
                ></button>
              </p-footer>
            </p-confirmDialog>

            <p-dialog
              [header]="newApplication ? 'New Application' : 'Edit Application'"
              [(visible)]="display"
              [responsive]="true"
              showEffect="fade"
              [modal]="true"
              [style]="{ width: '500px' }"
            >
              <form [formGroup]="applicationForm">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-12 mt-2">
                    <span class="ui-float-label">
                      <input
                        id="float-title"
                        type="text"
                        formControlName="title"
                        pInputText
                      />
                      <label for="float-title"
                        >Title <span class="text-danger">*</span></label
                      >
                    </span>
                  </div>
                  <div class="ui-g-12 mt-2">
                    <span class="ui-float-label">
                      <textarea
                        id="float-description"
                        formControlName="description"
                        rows="2"
                        pInputTextarea
                      ></textarea>
                      <label for="float-description"
                        >Description <span class="text-danger">*</span></label
                      >
                    </span>
                  </div>
                  <div class="ui-g-12">
                    <p-dropdown
                      appendTo="body"
                      [options]="productOptions$ | async"
                      formControlName="product_id"
                      placeholder="Select Product *"
                    ></p-dropdown>
                  </div>
                  <div class="ui-g-12">
                    <div formArrayName="tasks">
                      <h5 class="first">
                        Tasks
                      </h5>
                      <a href="javascript:void(0);" (click)="addTask()">Add</a>
                      <div
                        class="pre-scrollable py-2"
                        style="max-height: 200px"
                      >
                        <div
                          *ngFor="
                            let task of applicationForm.controls['tasks']
                              .controls;
                            let i = index
                          "
                        >
                          <div [formGroupName]="i">
                            <div class="mt-4">
                              <div class="ui-inputgroup">
                                <span class="ui-g-12 p-0 ui-float-label">
                                  <input
                                    id="float-task"
                                    type="text"
                                    formControlName="title"
                                    pInputText
                                  />
                                  <label for="float-task"
                                    >Task {{ i + 1 }}
                                    <span class="text-danger">*</span>
                                  </label>
                                </span>
                                <button
                                  type="button"
                                  pButton
                                  icon="fa fa-times"
                                  class="ui-button-danger mr-2"
                                  (click)="removeTask(i)"
                                  class="ui-button-danger"
                                ></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>

              <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                  <button
                    type="button"
                    pButton
                    icon="pi pi-times"
                    (click)="display = false"
                    label="Cancel"
                    class="ui-button-secondary"
                  ></button>
                  <button
                    *ngIf="newApplication"
                    type="button"
                    pButton
                    icon="fa fa-check"
                    (click)="create()"
                    [disabled]="!applicationForm.valid"
                    label="Save"
                  ></button>
                  <button
                    *ngIf="!newApplication"
                    type="button"
                    pButton
                    icon="pi pi-pencil"
                    (click)="update()"
                    [disabled]="!applicationForm.valid"
                    label="Edit"
                    class="ui-button-warning"
                  ></button>
                </div>
              </p-footer>
            </p-dialog>

            <p-dialog
              header="Share Application"
              [(visible)]="displayShare"
              [responsive]="true"
              showEffect="fade"
              [modal]="true"
              [style]="{ width: '400px' }"
            >
              <form [formGroup]="shareForm">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-12 mt-2">
                    <span class="ui-float-label">
                      <p-dropdown
                        appendTo="body"
                        [options]="executorOptions$ | async"
                        formControlName="executor_id"
                        placeholder="Select a Executor *"
                      ></p-dropdown>
                    </span>
                  </div>
                </div>
              </form>

              <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                  <button
                    type="button"
                    pButton
                    icon="pi pi-times"
                    (click)="displayShare = false"
                    label="Cancel"
                    class="ui-button-secondary"
                  ></button>
                  <button
                    type="button"
                    pButton
                    icon="fa fa-check"
                    (click)="share()"
                    [disabled]="!shareForm.valid"
                    label="Share"
                  ></button>
                </div>
              </p-footer>
            </p-dialog>
            <!-- * /.dialogs -->
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <app-footer></app-footer>
  </div>
  <!-- End of Content Wrapper -->
</div>
