<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    [routerLink]="['/dashboard']"
  >
    <div *ngIf="showIcon" class="sidebar-brand-icon">
      OCP
    </div>
    <div *ngIf="!showIcon" class="sidebar-brand-text mx-3">
      Open Copyright Platform
    </div>
  </a>

  <!-- Nav Item -->
  <app-sidebar-item
    *ngFor="let item of sidebarItems"
    [data]="item"
  ></app-sidebar-item>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button
      class="rounded-circle border-0"
      id="sidebarToggle"
      (click)="toggle()"
    ></button>
  </div>
</ul>
